<div id="input">
  <form action="/api/v2/convert" id="notepad_form" method="post">
    <textarea id="notepad" name="text"><%= DEFAULT_MARKDOWN %></textarea>
  </form>
</div>
<div id="output" class="markdown"><%= DEFAULT_HTML %></div>
<textarea id="html-output"><%= DEFAULT_HTML %></textarea>
<div id="loading"></div>
<a id="toggle-output" href="javascript:;">Show HTML</a>
