<div id="content" class="clear">
  <div id="input">
    <form action="/process" id="notepad_form" method="post">
      <textarea id="notepad" name="notepad">Welcome to [Markdownr.com](http://markdownr.com). We hope you *really* enjoy using this.

Just type some [markdown](http://daringfireball.net/projects/markdown) on the left and see it on the right. **Simple as that.**</textarea>
    </form>
  </div>
  <div id="markdown-output" class="markdown"><p>Welcome to <a href="http://markdownr.com">Markdownr.com</a>. We hope you <strong>really</strong> enjoy using this.</p><p>Just type some <a href="http://daringfireball.net/projects/markdown">markdown</a> on the left and see it on the right. <em>Simple as that.</em></p></div>
  <textarea id="html-output">&lt;p&gt;Welcome to &lt;a href="http://markdownr.com"&gt;Markdownr.com&lt;/a&gt;. We hope you &lt;strong&gt;really&lt;/strong&gt; enjoy using this.&lt;/p&gt;&lt;p&gt;Just type some &lt;a href="http://daringfireball.net/projects/markdown"&gt;markdown&lt;/a&gt; on the left and see it on the right. &lt;em&gt;Simple as that.&lt;/em&gt;&lt;/p&gt;</textarea>
  <div id="loading"></div>
  <a id="toggle-output" href="javascript:;">Show HTML</a>
</div>
