<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Markdownr</title>
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <script>var _gaq=_gaq || [];_gaq.push(['_setAccount','UA-5609322-6']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);})();</script>
  </head>
  <body>
    <%= yield %>
    <div id="copyright">
      &copy; <a href="http://samsoff.es">Sam Soffes</a> 2009-2010.
      <a href="http://github.com/samsoffes/markdownr.com" rel="external nofollow">View source on GitHub</a>.
      <div>
        <a class="about" href="http://github.com/samsoffes/markdownr.com/blob/master/Readme.markdown" rel="external nofollow">About Markdownr.com</a>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
