<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>Markdownr</title>
<link rel="stylesheet" type="text/css" href="/assets/application.css">
<link rel="stylesheet" type="text/css" media="print" href="/assets/print.css">
</head>

<body>
  <div id="content" class="clear">
    <%= yield %>
  </div>
  <div id="copyright">
    &copy; <%= Time.now.year %> <a href="http://samsoff.es/">Sam Soffes</a>.
    <a href="http://github.com/soffes/markdownr.com" rel="external nofollow">View source on GitHub</a>.
    <div>
      <a href="/api">API</a>
      <a href="http://github.com/soffes/markdownr.com/blob/master/Readme.markdown" rel="external nofollow">About</a>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script>if(typeof jQuery=='undefined'){document.write(unescape("%3Cscript src='/assets/jquery-2.0.3.min.js'%3E%3C/script%3E"));}</script>
  <script src="/assets/application.js"></script>
</body>
</html>
