<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>Markdownr</title>
<link rel="stylesheet" type="text/css" href="/css/application.css">
<link rel="stylesheet" type="text/css" media="print" href="/css/print.css">
</head>

<body>
  <div id="content" class="clear">
    <%= yield %>
  </div>
  <div id="copyright">
    &copy; <%= Time.now.year %> <a href="http://samsoff.es/">Sam Soffes</a>.
    <a href="https://github.com/soffes/markdownr.com" rel="external nofollow">View source on GitHub</a>.
    <div>
      <a href="/api">API</a>
      <a href="https://github.com/soffes/markdownr.com#readme" rel="external nofollow">About</a>
    </div>
  </div>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
