div#input, textarea#html-output, div#loading, a#toggle-output, div#copyright {
  display: none;
}

a, a:visited {
  color: blue;
}

html, body, div#content, div#content div#markdown-output {
  width: auto;
}

body {
  font-family: var(--font-family);
  line-height: 1.4em;
}

div#markdown-output {
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

div#markdown-output pre {
  overflow: hidden;
}
