/* line 3, ../../app/stylesheets/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 14, ../../app/stylesheets/_reset.sass */
body {
  line-height: 1;
  color: black;
  background: white; }

/* line 19, ../../app/stylesheets/_reset.sass */
ol, ul {
  list-style: none; }

/* line 22, ../../app/stylesheets/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0; }

/* line 26, ../../app/stylesheets/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal; }

/* line 30, ../../app/stylesheets/_reset.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

/* line 33, ../../app/stylesheets/_reset.sass */
blockquote, q {
  quotes: "" ""; }

/* line 9, ../../app/stylesheets/_shared.sass */
.clear:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  zoom: 1; }

/* line 4, ../../app/stylesheets/screen.sass */
.clear:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  zoom: 1; }

/* line 12, ../../app/stylesheets/screen.sass */
body {
  background: #ededed;
  font-size: 16px; }

/* line 16, ../../app/stylesheets/screen.sass */
body * {
  line-height: 1.4em; }

/* line 19, ../../app/stylesheets/screen.sass */
body, input, textarea {
  font-family: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #333; }

/* line 23, ../../app/stylesheets/screen.sass */
a {
  color: #2e80d3; }
