<div id="content" class="clear">
  <div id="input">
    <% form_tag "/process_markdown", :id => "notepad_form" do -%>
      <%= text_area_tag "notepad", "Welcome to [Markdownr.com](http://markdownr.com). We hope you *really* enjoy using this.\n\nJust type some [markdown](http://daringfireball.net/projects/markdown) on the left and see it on the right. *Simple as that.*" %>
    <% end -%>    
  </div>
  <div id="output" class="markdown"></div>
</div>
