<div id="content" class="clear">
  <div id="input">
    <% form_tag process_url, :id => "notepad_form" do -%>
      <%= text_area_tag "notepad" %>
    <% end -%>    
  </div>
  <div id="output" class="markdown"></div>
</div>
