// Variables
$HelveticaNeue: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
$HelveticaNeueLight: HelveticaNeue-Light,HelveticaNeue,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
$linkColor: #2e80d3;

@mixin markdown_style {
  * {
    line-height: 1.4em;
  }

  mark {
    background-color: #fffeca;
    padding: 0 0.08em;
  }

  em, i {
    font-style: italic;
  }

  strong, b {
    font-weight: bold;
  }

  abbr {
    border-bottom: 1px dashed;
    cursor: help;
  }

  small {
    font-size: 0.8em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 170%;
    font-weight: bold;
  }

  h2 {
    font-size: 150%;
    font-weight: bold;
  }

  h3 {
    color: #555;
    font-size: 110%;
    font-weight: bold;
  }

  h4 {
    color: #777;
    font-weight: bold;
  }

  h5 {
    color: #777;
  }

  h6 {
    color: #777;
    font-size: 90%;
  }

  a {
    text-decoration: underline;
  }

  p {
    line-height: 1.3em;
    margin: 0 0 1em;
  }

  ul ul, ol ol {
    margin-bottom: 0;
    margin-top: 0;
  }

  ul, ol {
    margin: 0 0 2em 0.5em;

    li {
      margin-left: 1em;
    }
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }

  blockquote {
    border-left: 5px solid #ddd;
    color: #999;
    margin: 0 0 1em;
    padding-left: 0.6em;
  }

  dt {
    font-weight: bold;
    margin-left: 1em;
  }

  dd {
    margin-bottom: 1em;
    margin-left: 2em;
  }

  table {
    margin: 0 0 1em;
    width: 100%;

    th {
      background: #eee;
      border-bottom: 1px solid #bbb;
      padding: 0.2em 1em;
    }

    td {
      border-bottom: 1px solid #ddd;
      padding: 0.2em 1em;
    }
  }

  pre {
    color: #444;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    line-height: 1.3em;
    margin: 0 0 1em;
    overflow: auto;
  }

  code {
    color: #444;
    font-family: 'Courier New', Courier, monospace;
  }
}
