@import "compass/reset";
@import "shared";

// Clear
.clear:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  zoom: 1;
}

// General
html, body {
  background: #ededed;
}

body {
  font-size: 15px;
  line-height: 1.4em;
}

body, input, textarea {
  font-family: $HelveticaNeue;
  color: #333;
}

a {
  color: $linkColor;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline
  }
}

div#copyright {
  @include shadow;
  width: 640px;
  margin: 40px auto 30px;
  color: #aaa;
  font-size: 0.85em;
  
  a {
    color: #aaa;
    
    &:hover {
      color: $linkColor;
    }
  }
  
  div {
    float: right;
  }
}

// Home
div#content {
  width: 640px;
  height: 400px;
  margin: 50px auto 0;
  position: relative;
  
  > div {
    float: left;
  }
  
  div#input {
    width: 300px;
    margin-right: 40px;
  }
  
  div#output, textarea {
    width: 288px;
    height: 390px;
    border: 1px solid #999;
    background: #fff;
    padding: 5px;
    overflow-y: auto;
  }
  
  textarea {
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 0.9em;
    resize: none;
  }
  
  textarea#html-output {
    display: none;
  }
}

span#parser-container {
  position: absolute;
  bottom: -32px;
  left: -2px;
  color: #444;
  font-size: 0.8em;
}

div#loading {
  display: none;
  width: 21px;
  height: 5px;
  background: image_url('dots-white.gif') no-repeat;
  position: absolute;
  bottom: -23px;
  left: 340px;
  -webkit-transition: all 0.1s linear;
}

a#toggle-output {
  font-size: 0.8em;
  position: absolute;
  bottom: -27px;
  right: 0;
}

// Markdown
.markdown {
  @include markdown_style;
}

@import "syntax";